* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4d04e;
  color: #111111;
}

.card {
  width: 24rem;
  height: 31.25rem;
  border: 0.0625px solid #ffffff;
  background-color: #ffffff;
  border-radius: 1.25rem;
  font-size: 0.875rem;
}

.card-container {
  padding: 1.5rem;
}

.card-image {
  margin-bottom: 1.5rem;
  border-radius: 0.625rem;
  width: 100%;
}

.card-tag-title {
  border: 0.0625px solid #f4d04e;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #f4d04e;
  font-weight: bold;
}

.card-published-date {
  margin-top: 1.25rem;
}

.card-title {
  margin-top: 0.625rem;
  font-size: 1.5rem;
}

.card-description {
  margin-top: 0.625rem;
  font-size: 1rem;
  text-align: justify;
  color: #6b6b6b;
  line-height: 1.5;
}

.card-footer {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-image-footer {
  width: 2rem;
}

.card-author-description {
  font-weight: bold;
}

@media (max-width: 480px) {
  .card {
    width: 20rem;
    height: 28rem;
    font-size: 0.75rem;
  }

  .card-title {
    font-size: 1.25rem;
  }
}
